@CHARSET "UTF-8";
{
	border: 1px solid #999;
}
body{
	margin:0px;
	padding:0px;
	font-family: "微软雅黑";
	font-size: 12px;
	color:#666666;
}
#common_head{
	margin:0px;
	font-family:"微软雅黑";
}
/*第一行*/
#common_head #line1{
	width:100%;
	height:35px;
	background-color:#FAFAFA;
	border-bottom:1px solid #EDEDED; 
	font-size:14px;
	color:#666666;
}
#common_head #line1 #content{
	width:100%;
	margin:0px auto;
	line-height:35px;
}
#common_head #line1 #content a{
	font-size:14px;
	text-decoration: none;
	color:#666666;
}
/*第二行*/
#common_head #line2{
	width:100%;
	height:100px;
	margin:0px auto;
	line-height:100px;
}
#common_head #line2 #logo,#common_head #line2 span{
	vertical-align: middle;
}

#common_head #line2 span{
	width: 60%;
	float: right;
	font-size: 28px;
	color: #CA141D;
	font-weight: bold;
}
/*第三行*/
#common_head #line3{
	width:100%;
	height:38px;
	background-color:#CA141D;
}
#common_head #line3 #navigator{
	width:100%;
	margin:0px auto;
}
#common_head #line3 #navigator ul{
	padding:0px;
	margin:0px;
}
#common_head #line3 #navigator li{
	list-style-type:none;
	width:20%;
	float:left;
}
#common_head #line3 #navigator li .tab{
	padding:0px;
	margin:0px;
}
#common_head #line3 #navigator li .tab li{
	list-style-type:none;
	width:100%;
	float:left;
}
#common_head #line3 #navigator li a{
	display: block;
	line-height:38px;
	color:white;
	text-decoration: none;
	text-align: center;
	font-size:16px;
}
#common_head #line3 #navigator li:hover{
	background-color: red;
}
