@charset "gb2312";
body {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:16px;
}
*{margin:0px;padding:0px;}

{
	border: 1px solid red;
}
/*----整体-------------------------------*/
.warp{
	margin: 0px auto 80px auto;
	width:1200px;
}

.warp #daohangtiao{
	text-align:left;
	width:1200px;
	margin-bottom:16px;
	background:#f3f3f3;
	height:32px;
	margin:22px 0px 12px 0px;
	padding-left:18px;
	font-size:14px;
	line-height:32px;
}
#forminfo{
	text-align:left;
	font-size:14px;
	padding-left:18px;
	color:#333333;
	padding-bottom: 18px;
	margin-bottom:15px;
}

#forminfo input{
	margin-top:5px;
}
#forminfo p{
	margin-top:20px;
	margin-bottom:15px;
}
table{
	color:#333333;
	width:999;
	height:80;
	border:1px solid #d8d8d8;
}
th{
	background-color: #f3f3f3;
	padding: 5px 0px;
}
td{
	height: 35px;
	text-align: center;
	font-size:16px;
}
#textarea{
	line-height:22px;
	padding:5px;
	vertical-align: middle;
	font-size:18px;
}
.Order_price{
	width:1200px;
	text-align:right;
	color:#CC0000;
	font-size:20px;
	margin-top:20px;
	margin-bottom:10px;
	font-weight:bold;
}
.add_orderbox{
	text-align:right;
	width:1200px;
	margin-top:10px;
	border-top:1px solid #CCC;
	padding-top:5px;
}
.add_order_btn{
	background:#d70000;
	width:120px;
	height:42px;
	border:none;
	cursor:pointer;
	color:#FFFFFF;
	font-weight:bold;
	font-size:16px;
	margin-top:10px;
	border-radius:5px;
}
