@charset "gb2312";
body {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
*{margin:0px;padding:0px;}
ul li{list-style:none;}
.clear{clear:both;}
.lf{float:left;}
.rt{float:right;}
p#ptitle{
	width: 1100px;
    margin: 20px auto;
    line-height: 36px;
    height: 36px;
}
/*---订单列表----------------------------------------------------------------------*/

.orderinfos_div{
	margin: 36px auto;
	width:1100px;
}
.orderinfos_div:first-child{
	margin-top: 0;
}

.Order_information{
	text-align:left;
	width:1100px;
	margin-bottom:20px;
}
.Order_information dt{
	background:#f3f3f3;
	height:32px;
	margin:22px 0px 12px 0px;
	padding-left:16px;
}
.Order_information dt h3{
	font-size:16px;
	text-indent:18px;
	line-height:32px;
}
.Order_information dd{
	font-size:15px;
	color:#333333;
	padding-left:34px;
	line-height: 24px;
}
.Order_information dd img{ 
	vertical-align:middle;
	border:none;
	width:70px;
	height:20px;
}
table{
	background:#d8d8d8;
	color:#333333";
	margin:24px auto;
}
.Order_price{
	width:1100px;
	text-align:right;
	color:#CA141D;
	font-size:32px;
	margin:10px auto 21px;
	psdding-bottom:10px;
	font-weight:bold;
	border-bottom: 1px solid #CCC;
}
#no_order_info{
	font-size:30px;
	color:#CA141D;
	text-align:center;
	margin: 50px auto;
}